<div class="row mt-70">
<div class="card grey lighten-5">
<div class="card-content black-text">
    <span class="card-title">{{part.name}}: {{part.title}}</span>
    <p>
    {{#if part.chapters.length}}
        {{#each part.chapters}}
            <div class="card grey lighten-5">
                <div class="card-content black-text">
                    <a href="/parts/{{partId}}/chapters/{{id}}" class="card-title">{{name}}: {{title}}</a>
                </div>
            </div>
        {{/each}}
    {{/if}}
    </p>
</div>
<div class="card-action">
    <a href="/parts">To all parts</a>
</div>
</div>
</div>